<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="userMapper">

	<resultMap type="user" id="userResultSet">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_BIRTH" property="userBirth"/>
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="USER_PHONE" property="userPhone"/>
		<result column="USER_ADDRESS" property="userAddress"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STOP_DATE" property="stopDate"/>
		<result column="WITHDRAWAL_DATE" property="withdrawalDate"/>
		<result column="FORCE_DATE" property="forceDate"/>
		<result column="USER_STATUS" property="userStatus"/>
	</resultMap>

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="user">
		INSERT INTO USER_INFO(
							USER_NO,
							USER_ID,
							USER_PWD,
							USER_NAME,
							USER_BIRTH,
							USER_EMAIL,
							USER_PHONE,
							USER_ADDRESS
							)
					VALUES(
							SEQ_USNO.NEXTVAL,
							#{userId},
							#{userPwd},
							#{userName},
							#{userBirth},
							#{userEmail},
							#{userPhone},
							#{userAddress}
							)
	
	</insert>
	
	<!-- 로그인 -->
	<select id="loginUser" resultMap="userResultSet">
		SELECT USER_NO,
			   USER_ID,
			   USER_PWD,
			   USER_NAME,
			   USER_BIRTH,
			   USER_EMAIL,
			   USER_PHONE,
			   USER_ADDRESS,
			   ENROLL_DATE,
			   STOP_DATE,
			   WITHDRAWAL_DATE,
			   FORCE_DATE,
			   USER_STATUS
		FROM USER_INFO
		WHERE USER_ID = #{userId}
		AND (USER_STATUS = 'Y' OR USER_STATUS = 'P')
	</select>

	<!-- 회원 정보수정하기 -->
	<update id="updateUser" parameterType="User">
		UPDATE USER_INFO
		SET USER_PWD = #{userPwd},
			USER_EMAIL = #{userEmail},
			USER_BIRTH = #{userBirth},
			USER_PHONE = #{userPhone},
			USER_ADDRESS = #{userAddress},
			MODIFY_DATE = SYSDATE
		WHERE USER_ID = #{userId}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="String">
	  	UPDATE USER_INFO
  		SET USER_STATUS = 'W'
  		WHERE USER_ID = #{userId}
	</delete>




</mapper>